# ADMIN LOGIN
ADMIN_USERNAME=ketuaixb
ADMIN_PASSWORD=IXB@Bersinar2026!
SESSION_SECRET=ganti-dengan-random-string-panjang

# VERCEL BLOB
# Setelah membuat Blob Store di Vercel, BLOB_READ_WRITE_TOKEN biasanya ditambahkan otomatis.
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_...
